body {
	margin-bottom: 0px;
}

.col-center{
  	margin:0 auto;
}
.table-nonfluid {
	width: auto !important;
}

/* Create a medium height at 40px */
.navbar-md {min-height:40px}
.navbar-md .navbar-brand,
.navbar-md .navbar-nav>li>a {padding-top:10px; padding-bottom:10px}
.navbar-md .navbar-brand {height: 40px}  
.navbar-md .navbar-toggle {margin: 6px 12px 6px 0px; padding: 6px 7px 6px 7px;}
.navbar-md .navbar-toggle .icon-bar {width: 19px;}


/* Create a small height at 30px */
.navbar-sm {min-height:30px}
.navbar-sm .navbar-brand,
.navbar-sm .navbar-nav>li>a {padding-top:5px; padding-bottom:5px}
.navbar-sm .navbar-brand {height: 30px}
.navbar-sm .navbar-toggle {margin: 3px 9px 3px 0px; padding: 4px 4px 4px 4px;}
.navbar-sm .navbar-toggle .icon-bar {width: 16px;}

.navbar-default {
  background-color: #4A85D1;
  border: 0px;  
  border-radius: 0px;
}
.navbar-default .navbar-brand {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
  font-size: 14px;
  font-weight: bold;
  font-family: Arial;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  margin-top: 0px;
  background-color: #6a95fd;
  border: none;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #ffffff;
  font-weight: bold;
  background-color: #6a95fd;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
  background-color: #6a95fd;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
  color: #ffffff;
  background-color: #6a95fd;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
  color: #ffffff;
  background-color: #6a95fd;
}
.navbar-default .navbar-toggle {
  border-color: #6a95fd;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
  background-color: #6a95fd;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #6a95fd;
  }
}


blockquote {
	border-left: none;
}
blockquote > footer {
	color: #fff;
	font-style: italic;
}

.row-quick-link {
	background-color: #242E51;
}
.row-quick-link a {
	color: #fff;
}
.row-quick-link a:visited {
	color: #fff;
}
.row-quick-link a:hover {
	color: #ccc;
}
.row-quick-link img {
	width: 15px;
	height: 15px;
}
.row-menu .navbar {
	margin-bottom: 0px;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  	width: 100%;
  	height: 450px;
  	margin: auto;
}
.carousel-inner > .item > .carousel-caption {
	top: 50px;
	text-align: left;
}
.carousel-inner > .item > .carousel-caption h3 {
	margin-top: -20px;
	font-size: 38px;
	font-weight: bold;
	text-shadow:1px 1px 4px #0D0D0D
}
.carousel-inner > .item > .carousel-caption p {
	margin-top: 40px;
	font-size: 18px;
	font-weight: bold;
	text-shadow:1px 1px 4px #0D0D0D
}
.carousel-inner > .item > .carousel-caption a {
	text-shadow: 0px 0px 0px;
}

.row-gov-party {
	background: url("../res/patt/swirl_pattern2.png") repeat;
}
.row-gov-party > .container {
	padding-bottom: 30px;
}
.row-gov-party > .container > h3 {
	margin: 30px 0px;
}
.row-gov-party > .container > h3 > a {
	color: #1F294C;
}
.row-gov-party > .container > .row > .col-sm-3 > .well img {
	width: auto;
	height: 100px;
	margin: 0 auto;
}
.row-gov-party > .container > .row > .col-sm-3 > .well h4 {
	text-align: center;
	color: #4174B6;
}

.row-gov-party-eco > .container {
	padding-bottom: 30px;
}
.row-gov-party-eco > .container > h3 {
	margin: 30px 0px;
}
.row-gov-party-eco > .container > h3 > a {
	color: #1F294C;
}
.content > .economics > .col-lg-9 .tab-pane .table {
	margin-top: 20px;
}
.row-gov-party-eco > .container .table-responsive,
.content > .economics > .col-lg-9 .tab-pane .table .table-responsive {
	padding: 4px 4px 4px 4px;
}
.row-gov-party-eco > .container .table,
.content > .economics > .col-lg-9 .tab-pane .table {
	border-collapse: collapse;
	border:1px solid lightgray;
	border-top: none;
}
.row-gov-party-eco > .container .table tr,
.content > .economics > .col-lg-9 .tab-pane .table tr {
	background-color: #F5F5F5;
}
.row-gov-party-eco > .container .table tr:first-child,
.content > .economics > .col-lg-9 .tab-pane .table tr:first-child {
	background-color: #4174B6;
}
.row-gov-party-eco > .container .table th,
.content > .economics > .col-lg-9 .tab-pane .table th {
	color: #fff;
	font-weight: bold;
	text-align: center;
	font-size: 18px;
}
.row-gov-party-eco > .container .table th:first-child,
.content > .economics > .col-lg-9 .tab-pane .table th:first-child {
	padding-left: 50px;
	text-align: center;
}
.row-gov-party-eco > .container .table td,
.content > .economics > .col-lg-9 .tab-pane .table td {
	font-weight: 100;
	color: #4174B6;
	text-align: center;
}
.row-gov-party-eco > .container .table td:first-child,
.content > .economics > .col-lg-9 .tab-pane .table td:first-child {
	color: #292E42;
	padding-left: 50px;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
}

.poll {
	background: url("../res/patt/cartographer.png") repeat center;
}
.poll > .container {
	padding-bottom: 30px;
}
.poll > .container > h3 {
	margin: 30px 0px;
	color: #fff;
}
.poll > .container > h5 {
	color: #fff;
}
.poll > .container > form {
	margin-left: 30%;
}
.poll > .container > form label {
	color: #fff;
}

.contact {
	background: url("../res/patt/swirl_pattern2.png") repeat center;
}
.contact > .container {
	padding-bottom: 30px;
}
.contact > .container > div h3 {
	color: #1F294C;
}
.contact > .container > .col-lg-8 {
	padding-top: 20px;
}

.footer {
	background-color: #242E51;
	height: 80px;
}
.footer > .container {
	text-align: center;
	padding-top: 5px;
	padding-bottom: 30px;
}
.footer > .container > .row a,
.footer > .container > .row i {
	color: #fff;
	font-size: 10px;
	font-family: Verdana;
}
.footer > .container > .row a {
	padding: 0px 10px;
	border-left: 1px solid #fff;
}
.footer > .container > .row a:first-child {
	border-left: none;
}

.content {
	background: url("../res/patt/swirl_pattern2.png") repeat center;
}
.content > .article-list,
.content > .article,
.content > .economics {
	padding-bottom: 30px;
}
.content > .container > .col-lg-9,
.content > .container > .col-lg-3 {
	margin-top: 30px;
}
.content > .article-list > .col-lg-9 > .row {
	margin-bottom: 30px;
}
.content > .article-list > .col-lg-9 > .row:last-child {
	margin-bottom: 0px;
}
.content > .article-list > .col-lg-9 > .row > .col-lg-3 > img {
	width: 100%;
	height: auto;
}
.content > .article-list > .col-lg-9 > .row > .col-lg-7 > h4 a {
	color: #000;
}
.content > .article-list > .col-lg-9 > .row > .col-lg-7 > span {
	color: #467EC8;
}
.content > .article-list > .col-lg-3 > .panel > .panel-heading img,
.content > .article > .col-lg-3 > .panel > .panel-heading img {
	width: 20px;
	height: 20px;
	vertical-align: center;
}
.content > .article-list > .col-lg-3 > .tweets > .panel-body,
.content > .article > .col-lg-3 > .tweets > .panel-body {
	padding: 0px;
}
.content > .economics > .col-lg-3 > .classification > .panel-body > ul > li {
	color: #6A7177;
	font-weight: bold;
	margin: 5px 0px;
}
.content > .economics > .col-lg-3 > .classification > .panel-body > ul > li > ul > li{
	color: #6A7177;
	font-weight: 100;
	margin: 5px 0px;
	list-style-type: none;
}
.content > .article-list > .col-lg-3 > .mini-poll > .panel-heading,
.content > .article > .col-lg-3 > .mini-poll > .panel-heading,
.content > .economics > .col-lg-3 > .mini-poll > .panel-heading {
	background-color: #58626E;
}
.content > .economics > .col-lg-3 > .classification > .panel-heading {
	background-color: #242F51;
}
.content > .article-list > .col-lg-3 > .mini-poll > .panel-heading span,
.content > .article > .col-lg-3 > .mini-poll > .panel-heading span,
.content > .economics > .col-lg-3 > .mini-poll > .panel-heading span,
.content > .economics > .col-lg-3 > .classification > .panel-heading span {
	color: #fff;
}
.content > .article > .col-lg-9 > header h3 {
	color: #000;
	font-weight: bold;
}
.content > .article > .col-lg-9 > header span {
	color: #467EC8;
	font-weight: bold;
}
.content > .article > .col-lg-9 > header img {
	width: 100%;
	height: auto;
	margin: 10px 0px;
}
.content > .article > .col-lg-9 > section p {
	font-size: 16px;
	color: #000;
}

.content > .economics > .col-lg-9 > .tab-content > .tab-pane {
	background-color: #fff;
	border: 1px solid #ddd;
	border-top: none;
	padding: 15px;
}
.content > .economics > .col-lg-9 > .tab-content #pane > p {
	color: #4174B6;
}

#accordion .panel-heading {
	cursor: pointer;
}